::selection {
    color: #FFFFFF;
    background-color: #CD5A01;
}
body {
    background-color: #F8F8F8;
    padding: 0;
    font-family: 'Open Sans', sans-serif !important;
}

.list-body{
    background-color: #ffffff;
}

.btn.btn-default{
    background-image: -webkit-linear-gradient(top, #FFB379 0%, #cd5a01 100%);
    background-image: -o-linear-gradient(top, #ffffff 0%, #e0e0e0 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FFB379), to(#cd5a01));
    background-image: linear-gradient(to bottom, #FFB379 0%, #cd5a01 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffFFB379', endColorstr='#ffcd5a01', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border-color: #dbdbdb;
    text-shadow: 0 0px 0 #fff; 
    border-color: #ccc;
    color: #ffffff;
}
.btn.btn-default:active{
    background-color: #E56400;
    color: #FFFFFF;
    border-color: #dbdbdb;
}

.btn.btn-default:hover{
    background-color: #cd5a01;
    background-position: 0 -15px;
}
.btn.btn-default:focus{
    background-color: #cd5a01;
    background-position: 0 -15px;
}
.space{
    margin-bottom: 20px;
    float: left;
}

/* Header-Language Styles Begin */

.header {
    text-align: right;
    color: white;
    height: 29px;
}
.lang > ul > li > a {
    color: #FFFFFF;
    text-decoration: none;
    padding: 0;
}
.lang > ul > li > a.english {
    color: #FFFFFF;
    line-height: 28px;
    font-size: 16px;
    padding: 0;
    padding-right: 3px;
}
.lang > ul > li > a.macedonian {
    color: #FFFFFF;
    padding: 0;
    line-height: 28px;
    font-size: 16px;
    padding-left: 3px;
    padding-top: 2px;
    padding-right: 10px;
}
.lang > ul > li > a:hover{
    text-decoration: underline;
}
.lang > ul > li > a.active{
    text-decoration: underline;
}

i {
    text-align: center;
}
.i_header {
    color: white;
    font-size: 21px;
    float: right;
    padding-left: 7px !important;
    padding-right: 7px !important;
    transition: 0.5s ease-in-out;
}
.i_header:hover {
    color: #CD5A01;
    background-color: #FFFFFF;
    text-decoration: none;
}

/* Header-Language Styles End */

/* Header-Menu Styles Begin */

.navbar-nav > li > .dropdown-menu{
    width: 245px;
}

.header-menu{
    border: none ;
    border-radius: 0 ;
    padding: 0 ;
}
.header-menu > li > a{
    padding: 6px 20px;
    transition: 0.3s ease-in-out;
}
.header-menu > li > a:hover{
    /*color: #CD5A01;*/
    background-color: #ffffff;
    background-image: none;    
    border-left: 3px solid #CD5A01;
    border-right: 3px solid #CD5A01;
}
hr{
    margin: 0;
}
div.navbar-collapse > ul {
    margin: 0;
    text-align: right;
}
ul > li {
    text-decoration: none;
    text-align: center;
    list-style: none;
    display: inline;
}
li > a {
    padding-left: 30px;
    padding-right: 30px;
}
a.brand-custom {
    padding: 0;
}
div.collapse-custom > ul {
    /*height: 71px;*/

    z-index: 1;
}
div.collapse-custom > ul > li > a {
    text-transform: uppercase;
    font-family: 'Oswald', Arial, helvetica, sans-serif;
    padding-top: 25px;
    padding-bottom: 26px;
    font-weight: bold;
    color: #626262 !important;
    border-bottom: 2px solid #FFFFFF;
    border-top: 2px solid #FFFFFF;
    transition: 0.4s ease-in-out;
}
div.collapse-custom > ul > li > a:hover {
    color: #CD5A01 !important;
    background-color: #FFFFFF !important;
    /*border-bottom: 2px solid #CD5A01;*/

    /*border-top: 2px solid #CD5A01;*/
}
div.collapse-custom > ul > li > a.selected {
    border-bottom: 2px solid #CD5A01;
    border-top: 2px solid #CD5A01;
    color: #CD5A01 !important;
    background-color: #FFFFFF !important;
}
.sub-selected{
   color: #CD5A01 !important;
   background-color: #ffffff;
   background-image: none;    
   border-left: 3px solid #CD5A01;
   border-right: 3px solid #CD5A01;
    /*background-color: #cd5a01;
    color: #ffffff !important;
    border-left: 3px solid #ffffff;
    border-right: 3px solid #ffffff;*/
}
.nav-custom {
    margin-bottom: 0px;
    border-bottom-width: 0px;
    background-color: #FFFFFF;
}

/* Header-Menu Styles End */

/* Homepage Styles Begin */

#map {
    width: 100%;
    height: 250px;
}
/* Owl Carousel News Styles Begin */

.owl-wrapper {
    text-align: center;
    /*background-color:#f8f8f8;*/
    z-index: 1;
}
#owl-news {
    margin-top: -70px;
}
#owl-news .item {
    background-color: #FFFFFF;
    /*height: 435px;*/
    border: 1px solid #CD5A01;
    display: block;
    padding: 30px 15px;
    padding-bottom: 10px;
    margin: 0px 10px;
    box-shadow: 2px 3px 5px -2px rgba(0,0,0,0.75);
}
.owl-theme .owl-controls .owl-buttons div {
    padding: 5px 9px;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
}

.owl-theme .owl-buttons i {
    margin-top: 2px;
    font-size: 30px;
}

/*//To move navigation buttons outside use these settings:*/

.owl-theme .owl-controls .owl-buttons div {
    position: absolute;
}

.owl-theme .owl-controls .owl-buttons .owl-prev {
    left: -5px;
    top: 120px;
    padding: 10px 1px 10px 3px;
    z-index: 1;
}

.owl-theme .owl-controls .owl-buttons .owl-next {
    right: -5px;
    top: 120px;
    padding: 10px 3px 10px 0px;
    z-index: 1;
}

/* Owl Carousel News Styles End */

/* Owl Carousel Logos Styles Begin */
.partners-logo {
   width: 260px;
   height: 80px;
   -webkit-filter: grayscale(100%);
   -moz-filter: grayscale(100%);
   filter: grayscale(100%);
   filter: grayscale(1);
   -webkit-filter: grayscale(1);
   transition: 0.4s ease-in-out;

}
.partners-logo:hover {
   -webkit-filter: grayscale(0%);
   -moz-filter: grayscale(0%);
   filter: grayscale(0%);
   filter: grayscale(0);
   -webkit-filter: grayscale(0);
}
/* Owl Carousel Logos Styles End */

/* Camera Slider Styles Begin */

.fluid_container {
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 120px;
    width: 50%;
    z-index: 0;
}
#camera_wrap_4 {
    bottom: 0;
    height: 100%;
    left: 0;
    margin-bottom: 0 !important;
    position: static;
    right: 0;
    top: 0;
    margin-top: 0px;
}
.camera_bar {
    z-index: 2;
}
.camera_thumbs {
    margin-top: -100px;
    position: relative;
    z-index: 1;
}
.camera_thumbs_cont {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}
.camera_overlayer {
    opacity: .1;
}

.wordRight{
    position: absolute;
    font-size:30px;
    color:#ffffff;
    left: 100%;
    /*top:5%;*/
}
.wordLeft{
    position: absolute;
    font-size:30px;
    color:#ffffff;
    right: 100%;
    /*top:5%;*/
}
.wordTop{
    position: absolute;
    font-size:30px;
    color:#ffffff;
    bottom: 100%;
}
.wordBottom{
    position: absolute;
    font-size:30px;
    color:#ffffff;
    top: 100%;
}
.wordFade{
    position: absolute;
    font-size:30px;
    color:#ffffff;
    opacity: 0;
}
/* Camera Slider Styles End */

.loading {
    background-color: #FFFFFF;
    height: 250px;
    display: block;
    padding: 30px 15px;
    margin: 0px 10px;
    opacity: 0.9;
    /*border: none;*/
    /*box-shadow: none;*/
}

.loading > img{
    position: absolute;
    top: 200px;
    left: 185px;
}


div.push {
    background-color: #F8F8F8;
    height: 400px;
    /*margin-bottom: 40px;*/
}
img.img-rounded {
    width: 100%;
    height: 140px;
    /*padding: 0 15px;*/

    z-index: 1;
}
div.news-row {
    background-color: #F8F8F8;
}


.marketing {
    text-align: center;
    margin-bottom: 40px;
}

/* About us and Services styles Begin */

.sidebar {
    margin-top: 26px;
    margin-bottom: 15px;
}
.sidebar > li + li {
    margin-top: 0;
    border-top: 1px dotted;
}
.sidebar > li > a {
    color: #CD5A01;
    background-color: #ffffff;
}
.sidebar > li > a:hover {
    border-radius: 0px;
}
.sidebar > li.active {
    border: none;
}
.sidebar > li.active + li {
    border: none;
}
.sidebar > li.active > a {
    background-color: #CD5A01;
    color: #ffffff;
    border-radius: 0px;
}
.sidebar > li.active > a:hover {
    background-color: #CD5A01;
    color: #ffffff;
}
.sidebar > li.active > a:focus {
    background-color: #CD5A01;
    color: #ffffff;
}
.sidebar {
    margin-top: 26px;
    margin-bottom: 15px;
}
.sidebar > li + li {
    margin-top: 0;
    border-top: 1px dotted;
}
.sidebar > li > a {
    color: #CD5A01;
    background-color: #ffffff;
    border-radius: 0px;
}
.sidebar > li > a:hover {
    border-radius: 0px;
}
.sidebar > li.active {
    border: none;
}
.sidebar > li.active + li {
    border: none;
}
.sidebar > li.active > a {
    background-color: #CD5A01;
    color: #ffffff;
    border-radius: 0px;
}
.sidebar > li.active > a:hover {
    background-color: #CD5A01;
    color: #ffffff;
}
.sidebar > li.active > a:focus {
    background-color: #CD5A01;
    color: #ffffff;
}
/*-------------------------------*/
.top-nav {
    margin-top: 26px;
    margin-bottom: 15px;
}
.top-nav > li + li {
    margin-top: 0;
    border-left: 1px dotted;
}
.top-nav > li > a {
    color: #CD5A01;
    background-color: #ffffff;
    border-radius: 0px;
}
.top-nav > li > a:hover {
    border-radius: 0px;
}
.top-nav > li.active {
    border: none;
}
.top-nav > li.active + li {
    border: none;
}
.top-nav > li.active > a {
    background-color: #CD5A01;
    color: #ffffff;
    border-radius: 0px;
}
.top-nav > li.active > a:hover {
    background-color: #CD5A01;
    color: #ffffff;
}
.top-nav > li.active > a:focus {
    background-color: #CD5A01;
    color: #ffffff;
}
div#content-container {
    margin-bottom: 60px;
    min-height: 250px;
}



/* About us and Services styles End */




/* Homepage Styles Begin */


/* Footer Styles Begin */

div.footer-navigation > .container-fluid {
    background-color: black;
    padding: 0;
}
div.footer-navigation > .container-fluid > .col-md-12 {
    padding: 0;
}
div.footer-cprt > .container-fluid {
    background-color: gray;
    height: 30px;
}
.footer-nav {
    text-align: center;
    list-style: none;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
}
ul.footer-nav > li {
    text-align: right;
    height: 20px;
}
ul.footer-nav > li > a {
    padding-left: 0;
    height: 20px;
    padding-right: 60px;
    font-size: 21px;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: 0.4s ease-in-out;
}
ul.footer-nav >li> a.selected {
    color: #CD5A01 !important;
}
ul.footer-nav > li > a:hover {
    color: #CD5A01;
}
ul.footer-nav > .last > a {
    padding: 0;
}
div.footer {
    margin-top: 12px;
}
.footer-nav > p {
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
}
ul.social-media {
    text-align: center;
    margin-bottom: 15px;
    padding: 0;
}
ul.social-media > li > a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 35px;
    transition: 0.5s all ease-in-out;
}
ul.social-media > li > a:hover {
    color: #CD5A01;
}
ul.social-media > li.go-up-logo-static {
    position: relative;
}
ul.social-media > li.go-up-logo-static>a>img.top {
    position: absolute;
}
ul.social-media > li.go-up-logo-static >a>img.bottom {
    opacity: 0;
}
ul.social-media > li.go-up-logo {
    position: relative;
}
ul.social-media > li.go-up-logo > a > img.top {
    position: absolute;
    transition: 0.4s ease-in-out;
}
ul.social-media > li.go-up-logo > a > img.bottom {
    opacity: 0;
    transition: 0.4s ease-in-out;
}
ul.social-media > li.go-up-logo > a:hover .bottom {
    opacity: 1;
    border: 1px solid #808080;
    border-radius: 50%;
    background-color: #FFFFFF;
    transform: rotate(360deg);
}
ul.social-media > li.go-up-logo > a:hover .top {
    opacity: 0;
    transform: rotate(360deg);
}

/* Footer Styles End */


/* Contact Page Styles Begin */

input: -webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
div.contact>h1 {
    margin-bottom: 30px;
}
div#mailSuccess .hide {
    display: none;
}
div#mailSuccess .show {
    display: block;
}
div.contact > .input-group {
    margin-bottom: 20px;
}
.form-group > textarea {
    margin-bottom: 15px;
    height: 220px;
    resize: none;
}

/* Contact Page Styles End */


/* News Page Styles */

div.news-page>.row>.col-md-12 {
    text-align: justify;
    margin-bottom: 50px;
}
.tbtn{
    width: 130px;
}
.edit{
    margin: 5px 0 !important;
}
.delete{
    margin-top: 5px !important;
}
.thead > tr > th{
    width:150px;
}
.news-image-holder{
    text-align:center;
    margin: 20px 0;
}

/* News Page Styles End */

/* Admin Page Styles */

div.control-pannel-item {
    background-color: #ffffff;
    margin-bottom: 20px;
    border: 1px solid;
    margin-left: 4%;
    border-radius: 35px 35px 35px 35px;
    margin-right: 50px;
    padding-top: 30px;
    text-align: center;
    height: 250px;
}
div.control-pannel-item:hover {
    background-color: #CD5A01;
}
.fa-custom {
    font-size: 10em !important;
}
span.text {
    color: #3D3D3D;
    font-size: 20px;
}
div.control-pannel-item:hover span.text {
    color: #FFFFFF;
}
div.row > a.items {
    color: #CD5A01;
    background-color: #FFFFFF;
}
div.row > a.items:hover {
    color: #FFFFFF;
}
div.admin-holder {
    text-align: center;
    margin-bottom: 20px;
}
div.admin{
}

/* Admin Page Styles End */

/* Manage Slider Styles */

div.fix {
    position: absolute;
}
.icon {
    opacity: 0;
}
span.mH > .fix > .icon {
    position: absolute;
    bottom: 6px;
    left: 180px;
    background-color: #444444;
    color: #EDEDED;
    width: 32px;
    height: 30px;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    z-index: 10;
    opacity: 1;
    cursor:pointer;
}
.icon-cancel {
    display: none;
}
span.mH > .fix > .icon-cancel {
    position: absolute;
    display: block;
    bottom: 6px;
    left: 180px;
    background-color: #444444;
    color: #EDEDED;
    width: 32px;
    height: 30px;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    z-index: 10;
    opacity: 1;
    cursor:pointer;
}
span.mH > .fix > .icon-cancel:hover {
    background-color: #737373;
}
span.mH > .fix > .icon:hover {
    background-color: #737373;

}
span.image-holder {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
span.mH > .fix > .over {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100px;
    position: absolute;
    width: 240px;
    opacity: 1;
    bottom: 0;
}
span.image-add {
    height: 100px;
    width: 240px;
    float: left;
}
.add-fix {
    position: absolute;
}
.add-icon {
    height: 100px;
    width: 240px;
    position: absolute;
    border: 5px dashed;
}
.add {
    height: 90px;
    width: 230px !important;
    line-height: 95px !important;
    font-size: 50px !important;
}
#add_image_btn{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    padding: 0;
}
#add_image_btn:hover{
    background-color: #ffffff;
}
#add_image_btn:focus{           
    outline: none;
}
/* Manage Slider Styles End */

/* Manage Homepage Slider Words Begin */

.words-language{
    text-align: center;
}
.words-language > h4{
    text-align: center;
}
.words-container{
    height: 300px;
    overflow: auto;
    margin-bottom: 5px;
}
.words{
    padding: 0;
}
.words > li{
   display: flex;
   padding-left: 220px;
}

.modal-content{
    text-align: center;
}
.modal-content > textarea{
    width: 450px;
    height: 200px;
    resize:none;
}
.modal-buttons{
    text-align: right;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 5px;
}
/* Manage Homepage Slider Words End */

/* Admin Header Styles */

.settings-active.open > a{
    color: #CD5A01;
    background-color: #FFFFFF;
    text-decoration: none;
} 
.admin-menu{
    left: -128px ;
    top: 113% ;
    border: none ;
    border-radius: 0 ;
    padding: 0 ;
}
.admin-menu > li > a{
    padding: 6px 20px;
    transition: 0.3s ease-in-out;
}
.admin-menu > li > a:hover{
    color: #CD5A01;
    background-color: #ffffff;
    background-image: none;    
    border-left: 3px solid #CD5A01;
    border-right: 3px solid #CD5A01;
}
.user-info-list{
    margin: 0;
}

.user-info{
    line-height: 30px;
    font-size: 20px;
}
.user-info.last{
    padding-right: 10px;

}
.home{
    float:left;
}
.home:focus{
    color: #CD5A01;
    background-color: #ffffff;
}
.home > i {
    font-size: 28px;
}

/* Admin Header Styles End */


/* User Settings Styles Begin */

.settings{
    background-color: #ffffff;
    margin-bottom: 10px;
    padding-top: 8px;
    border: 1px solid #aeaeae;
    border-radius: 0 0 5px 5px;   

}
.settings-title{
    border: 1px solid #aeaeae;
    border-bottom: 0;
    border-radius: 5px 5px 0 0;   
}
.alert-settings{
    width: 500px;
    float: left;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-left: 10px;
}


/*User Settings Styles End*/


/* Edit static pages Styles Begin  */

div.static-pages-content{
    text-align: center;
    margin-top: 150px;
    margin-left: 295px;
}

/* Edit static pages Styles End  */



/* All news page Style Begin */


.news_item {
    background-color: #FFFFFF;
    /*height: 435px;*/
    border: 1px solid #CD5A01;
    display: block;
    padding: 30px 15px;
    padding-bottom: 10px;
    margin: 0px 10px;
    box-shadow: 2px 3px 5px -2px rgba(0,0,0,0.75);
    
    margin-bottom: 25px;
    text-align: center;
    min-height: 350px;
}

div.news-item-container{
    margin-top: 100px;
}


/* All news page Style End */


/* News Preview Style Begin */


/* News Preview Style End */
    
.latest_news{

    margin-top: 81px;
    margin-left: 97px;

}

.latest_news_image{
    height: 120px;
    width: 120px; 
}

.latest_news_table > tr {

    border: 1px solid #CD5A01;     

}

/* Responsive media Begin */

@media screen and (max-width: 991px) {} 
@media screen and (max-width: 751px) {
    ul.footer-nav > li > a {
        padding-right: 30px;
    }
}
@media screen and (max-width: 585px) {
    li.go-up-logo {
        display: block;
    }
}
@media screen and (max-width: 428px) {
    ul.footer-nav > li > a {
        padding-right: 5px;
    }
}
@media screen and (max-width: 390px) {}

/* Responsive Media End*/
